<div class="login-page">
    <div class="container d-flex align-items-center position-relative py-5">
      <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
        <div class="card-body p-0">
          <div class="row gx-0 align-items-stretch">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6 bg-light">
              <div class="info d-flex justify-content-center flex-column p-4 h-100">
                <div class="py-5">
                  <h1 class="display-6 fw-bold">Dashboard</h1>
                  <p class="fw-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="d-flex align-items-center px-4 px-lg-5 h-100">
                <form class="login-form py-5 w-100" >
                  <div class="input-material-group mb-3">
                    <input type="text" placeholder="User name"  class="form-control">
                    <!-- <label class="label-material" for="login-username">User Name</label>
                    <input class="input-material" id="login-username" type="text" name="loginUsername" autocomplete="off" required data-validate-field="loginUsername" [(ngModel)]="nom"> -->
                  </div>
                  <div class="input-material-group mb-4">
                    <input type="text" placeholder="Paswword"  class="form-control">
<!-- 
                    <label class="label-material" for="login-password">Password</label>
                    <input class="input-material" id="login-password" type="password" name="loginPassword" required data-validate-field="loginPassword" [(ngModel)]="password"> -->
                  </div>
                  <button class="btn btn-primary mb-3" (click)="onSubmit()">Login</button><br><a class="text-sm text-paleBlue" href="#">Forgot Password?</a><br><small class="text-gray-500">Do not have an account? </small><a class="text-sm text-paleBlue" routerLink="/sign-up">Signup</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>