<div class="card">
    <div class="card-header bg-primary text-white px-6">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h4 class="card-title text-white mb-0">Liste des tickets</h4>
                <div class="card-subtitle">Les derniers tickets</div>
              </div>
            <div class="dropdown">
                <button class="btn btn-lg btn-text-light btn-icon me-n2 dropdown-toggle" id="segmentsDropdownButton"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons">par moins</i></button>
                <ul class="dropdown-menu" aria-labelledby="segmentsDropdownButton">
                    <li><a class="dropdown-item" href="#!">depuis 1 mois</a></li>
                    <li><a class="dropdown-item" href="#!">depuis 2 mois</a></li>
                    <li><a class="dropdown-item" href="#!">depuis 3 mois</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="card-body p-6">
        <table class="table table-striped">
            <thead>

                <tr>

                    <th scope="col">Nom</th>
                    <th scope="col">Periority</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item2 of item2">

                    <td>
                        {{item2.nom }}
                    </td>
                    <td> {{item2.priority}}</td>
                    <td>{{item2.category}} </td>
                    <td>{{item2.date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end"><i routerLink="/gestion-ticket" class="bi bi-arrow-right-circle"></i></div>


    </div>