
<div class="container">
    <div class="card  "style="margin:10rem; padding: 5rem;">
        <form  >
            <div class="row g-3">
            
                    <div class="col-12 mb-4">
                        <h4>Inscription</h4>
                      
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" placeholder="Nom"  class="form-control">
                            <div  class="invalid-feedback">
                               
                             </div>
                            <label>Nom...</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" placeholder="Prenom"  class="form-control">
                            <div  class="invalid-feedback">
                               
                             </div>
                            <label>Prenom...</label>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="date" placeholder="DATE" formControlName="date" class="form-control">
                            <div class="invalid-feedback">
                                <div>Date de naissance</div>
                             </div>
                            <label>Date de naissance</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="number" placeholder="DATE" formControlName="tel" class="form-control">
                            <div class="invalid-feedback">
                                <div>Numéro de téléphone</div>
                             </div>
                            <label>Numéro de téléphone</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="email" placeholder="Mail" formControlName="mail" class="form-control">
                            <div class="invalid-feedback">
                                <div>E mail:</div>
                             </div>
                            <label>E mail...</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" placeholder="adresse" formControlName="adresse" class="form-control">
                            <div class="invalid-feedback">
                                <div>Adresse:</div>
                             </div>
                            <label>Adresse...</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" placeholder="mdp" formControlName="mdp" class="form-control">
                            <div class="invalid-feedback">
                                <div>Mot de passe:</div>
                             </div>
                            <label>Mot de passe...</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" placeholder="mdp" formControlName="mdp" class="form-control">
                            <div class="invalid-feedback">
                                <div>Validez votre mot de passe:</div>
                             </div>
                            <label>Validez votre mot de passe...</label>
                        </div>
                    </div>
                    
                 
                    <div class="col-12 mt-4" style="align-items: center;">
                        <button class="btn btn-primary text-uppercase" type="submit">Inscription</button>
                    </div>
                
            </div>
        </form>
    </div>
</div>