
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" style="background-color: black; " data-wow-delay="0.1s">
    <a href="#" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="text-primary m-0">PROLEGAL</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a  class="nav-item nav-link" routerLink="/" >Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">categorie</a>
                <div class="dropdown-menu m-0" >
                    <a (click)="navigateToSection('sociale')" class="dropdown-item">sociale</a>
                    <a  class="dropdown-item" (click)="navigateToSection('juridique')">juridique</a>
                    <a  class="dropdown-item" (click)="navigateToSection('fiscal')">fiscale</a>
                    <a href="#" class="dropdown-item" (click)="navigateToSection('autres')">autres</a>
                    
                </div>
            </div>
            <a class="nav-item nav-link" routerLink="/service">Services</a>
            <a class="nav-item nav-link" (click)="navigateToSection('documents')">Documents</a>
            <a class="nav-item nav-link" routerLink="/avance">Recherche</a>
            <a class="nav-item nav-link" routerLink="/inscription">Contact Us</a>
            
           
            </div>
            <div>
                <i class="fa-light fa-right-to-bracket" ></i>Log In
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-globe" aria-hidden="true"></i></a>
                <div class="dropdown-menu m-0">
                    <a href="#" class="dropdown-item">Français</a>
                    <a href="#" class="dropdown-item">Englais</a>
                </div>
       
        </div>
        
      
    </div>
</nav>
<!-- Navbar End -->
