
<div class="container mb-5">
    <div class="card  mt-4">
        <div class="text-center text-uppercase col-12 bg-light mb-2">
            <h2>NOS PARTENAIRES</h2>
          
        </div>
        <div class="row g-4">
            <div class=" col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"  *ngFor="let item of data">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid " src={{item.url}} alt="">
                    <div class="team-text">
                     
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>