<!-- <app-topbar></app-topbar> -->

<!-- Carousel Start -->

<app-carouselle ></app-carouselle>
<!-- Carousel End -->
<!-- Facts Start -->
<div id='cartes-categ' >
    <app-carte-affichant-categories></app-carte-affichant-categories>
</div>

<!-- Facts End -->
<!-- About Start -->
<app-about-us ></app-about-us>
<!-- About End -->
<!-- Product Start -->
<app-liste-articles ></app-liste-articles>
<!-- Product End -->
<!-- Team Start -->
<app-partenaires ></app-partenaires>
<!-- Team End -->
<!-- Testimonial Start -->
<app-avis-expert ></app-avis-expert>
<!-- Testimonial End -->
<app-news-letter ></app-news-letter>
