
<!-- <app-barre-recherche></app-barre-recherche> -->
<section class="section-intro padding-top-sm">
    <div class="container">
    <main class="card p-3">
      <div class="row">
        <aside class="col-lg-3"> 
          
         <app-menu-categories></app-menu-categories>
        </aside>
    
        <div class="col-lg-9">
        <app-list-articles></app-list-articles>
        <app-list-articles></app-list-articles>
    
           
        </div>
      </div>
    </main>
    </div> <!-- container end.// -->
    </section>