
<section class="section-intro padding-top-sm">
    <div class="container">
  <div class="container">
    
                           
    <div class="row g-2 w-100  ">
        <div class="col flex-grow ">
          <div class="input-group  rounded-pill py-3 px-7">
           
            
          <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
         
          <div class="input-field second-wrap">
              <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button>
            </div>
          </div>
          
        </div>
    </div>
</div>
</div>
</section>