<section class="card p-5 mt-5">
    
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a href="#">categorie</a>  </li>
      <li class="breadcrumb-item active">  </li>
    </ol>
    
  <!-- container //  -->
</section>

<div class="row  p-3 align-items-center d-none d-lg-flex">
  <div class="col-lg-6 px-5 text-start">
       <h5> les derniéres mise a jours </h5>
  </div>

</div>



  <!-- <div class="col-lg-6 px-5 text-end">
    <div class="nav-item dropdown">
      <h6 >Documents parus depuis</h6><select  class="selectbox ng-pristine ng-valid ng-touched" name="topicalInterval">
        <option value="7">Tous les 7 jours</option>
        <option  value="15">Tous les 15 jours</option>
        <option  value="30">Tous les 30 jours</option>
    </select>
</div>
  </div> -->

<!-- ================ SECTION INTRO ================ -->
<section class="section-intro padding-top-sm">
<div class="container">
<main class="card p-3">
  <div class="row">
    <aside class="col-lg-3"> 
     <!-- <app-menu-cat-horizontal></app-menu-cat-horizontal> -->
    </aside>

    <div class="col-lg-9">
    <app-list-article></app-list-article>
    <app-list-article></app-list-article>

       
    </div>
  </div>
</main>
</div> <!-- container end.// -->
</section>


