<div class="container-xxl bg-light my-6 py-6 pb-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4">NOS SERVICES</h1>
        </div>
        <div>
             <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s" >
                <div class="testimonial-item bg-white rounded p-4"  *ngFor='let item of data'  >
                    <div class="row">
                        <app-abonnement [item]="item"></app-abonnement>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div> 
  </div>