<section class="card p-5 mt-5">
    
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a routerLink="/home">home</a>  </li>
      <li class="breadcrumb-item active"> à propos de PROLEGAL </li>
    </ol>
    
  <!-- container //  -->
</section>
  <!-- ======= About Section ======= -->
  <section class="section-intro padding-top-sm">
    <div class="container">
    <main class="card bg-primary text-light rounded-top p-5  wow fadeInUp" data-wow-delay="0.1s">
  
        <div class="row">
          <h3>A PROPOS DE PROLEGAL</h3>
          <h5>La plateforme a pour objectif de faciliter l’accès à une documentation juridique exhaustive et continuellement mise à jour, incluant tous les textes d’applications (décrets, arrêtés) et d’interprétation (notes communes, prises de positions, jurisprudence, notes internes).</h5>
          <div class="icon-box">
            <div class="row img-twice position-relative h-100">
              <div class="col-4">
                  <img class="img-fluid rounded" src="assets/img/about-2.jpg" alt="">
              </div>
              <div class="col-4 align-self-end">
                  <img class="img-fluid " src="assets/img/about-1.jpg" alt="">
              </div>
            
            <h4>Objectif</h4>
            <h6>Le fait de chercher à être conseillé lorsque nous avons des doutes est ce qui fait de nous des êtres humains. Même les rois et les reines ont toujours eu des conseillers à leurs côtés, et ce depuis des temps immémoriaux. Cependant, le conseil en entreprise tel que nous le connaissons aujourd’hui était pratiquement inconnu jusqu’en 1926. La façon dont les consultants travaillent et la façon dont les entreprises engagent des consultants ont changé. « Ma plus grande force en tant que consultant est d’être ignorant et de poser quelques questions. » Peter Drucker.</h6>
        
          
            <h6>La Plateforme Global conseils offre le service de conseils et d’assistance sur les questions fiscales, juridiques et social attend des commentaires sur un guide pratique en développement des conseils stratégiques et une assistance technique aux pouvoirs publics.

              La Plateforme Global conseils vous fournir toutes les solutions permettant de résoudre vos problèmes fiscales et juridiques, et ce, dans n'importe quel domaine. Elle  est une LegalTech  proposant une intermédiation ou un service numérique dédié aux professions judiciaires, juridiques et assimilées ainsi qu’aux justiciables, en recourant à l’usage d’une solution scalable.
            </h6>
       
        </div></div>
      </div>
    </main></div>
  </section><!-- End About Section -->

