<app-barre-recherche></app-barre-recherche>


<div class="container-fluid">
    <app-bouton-creer-offre></app-bouton-creer-offre>
    <div class="card">
        <div class="card-header bg-primary text-white px-6">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-6">
                    <h2 class="card-title text-white mb-0">Liste des offres</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                    
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Période</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of abonnements | paginate: { itemsPerPage: pageSize, currentPage: page }">
                  
                    <td>
                       {{data.nom}} 
                    </td>
                    <td>{{data.nbre_question}}</td>
                    <td>{{data.duree}}</td>
                    <td>{{data.solde}}</td>
   
                    <td>
                        <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" ngbTooltip="modifier"><i class="fa fa-wrench" ></i></button>
                        <button class="btn btn-primary text-uppercase" style="margin-left: 10px;"  ngbTooltip="fermer"><i class="fa fa-times" ></i></button>
                       
                    </td>
                </tr>
             
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>   
