<div class="page-content d-flex align-items-stretch">
  <!-- Side Navbar -->
  <nav class="side-navbar z-index-40">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center py-4 px-3"><img
        class="avatar shadow-0 img-fluid rounded-circle" src="assets/img/testimonial-1.jpg" alt="...">
      <div class="ms-3 title">
        <h1 class="h5 mb-2">Nom</h1>
        <p class="text-sm text-gray-500 fw-light mb-0 lh-1">Titre</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span
      class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
    <ul class="list-unstyled py-4">
      <li class="sidebar-item active"><h5><a class="sidebar-link mb-2" routerLink="dashboard">
          <i class="fa-solid fa-house"></i> Home </a></h5></li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" href="#gererTicket" 
        data-bs-toggle="collapse">
        <i class="fa-solid fa-ticket"></i>Gestion des tickets </a></h5>
        <ul class="collapse list-unstyled " id="gererTicket">
          <li><a class="sidebar-link" routerLink="/gestion-ticket">Consulter</a></li>
          <li><a class="sidebar-link" href="#">Ajouter</a></li>
          <li><a class="sidebar-link" href="#">Page</a></li>
        </ul>
      </li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" href="#gererCompte" 
        data-bs-toggle="collapse">
        <i class="fa-solid fa-user"></i>Gestion des comptes </a></h5>
        <ul class="collapse list-unstyled " id="gererCompte">
          <li><a class="sidebar-link" routerLink="gestion-clt">clients</a></li>
          <li><a class="sidebar-link" routerLink="gestion-expert">Experts</a></li>
          <li><a class="sidebar-link" routerLink="gestion-manager">Managers</a></li>
        </ul>
      </li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" routerLink="/gestion-doc">
        <i class="fa-solid fa-file"></i>Gestion des documents </a></h5></li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" href="">
        <i class="fa-solid fa-star"></i>Gestion des categories </a></h5></li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" routerLink="">
        <i class="fa-sharp fa-solid fa-cloud"></i>Gestion des tags </a></h5></li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" routerLink="">
       Gestion des comptes </a></h5></li>
      <li class="sidebar-item active"><h5><a class="sidebar-link" routerLink="gestion-offre">
        <i class="fa-solid fa-cart-plus"></i>Gestion des offres </a></h5></li>



      <div *ngFor="let item of users">
        <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse">
            data </a>
          <ul class="collapse list-unstyled " id="exampledropdownDropdown">
            <li>
              <a class="sidebar-link" href="#"> info</a>
            </li>
            <li><a class="sidebar-link" href="#">Page</a></li>
            <li><a class="sidebar-link" href="#">Page</a></li>
          </ul>
        </li>
      </div>


    </ul>
  </nav>
</div>