<div class="container-xxl py-6">
    <div id="sociale" class="container">
        <div class="row g-4">
            <div  class="col-lg-3 col-md-6 wow fadeIn carte-cat" *ngFor="let item of data" data-wow-delay="0.1s">
                <div  id={{item.name}} (click)="goToCart(item.name)"  >
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-users fa-4x text-primary mb-4"></i>
                        <h1 class="mb-2">{{item.name}}</h1>
                        <h1 class="display-5 mb-0" data-toggle="counter-up">6</h1>
                    </div>
                </div>
            </div>
            
            
            <!-- <div id="juridique" (click)="goToCategories(1)" class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s" >
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-balance-scale fa-4x text-primary mb-4"></i>
                    <h1 class="mb-2">juridique</h1>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">5</h1>
                </div>
            </div>
            <div (click)="goToCategories(2)" id="fiscal" class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s" >
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-university  fa-4x text-primary mb-4"></i>
                    <h1 class="mb-2">fiscal</h1>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">5</h1>
                </div>
            </div>  -->
            <div  id="autres" class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s" >
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-plus-circle fa-4x text-primary mb-4"></i>
                <a routerLink="/categories"> <h1 class="mb-2">autres</h1></a>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">4</h1>
                </div>
            </div>
        </div>
    </div>
</div>