  <!-- Top app bar navigation menu-->
  <nav class="top-app-bar navbar navbar-expand navbar-dark">
    <div class="container-fluid px-4">
        <!-- Drawer toggle button-->
        <button class="btn btn-lg btn-icon order-1 order-lg-0" id="drawerToggle" href="javascript:void(0);"><i class="fa fa-bars" ></i></button>
        <!-- Navbar brand-->
        <a class="navbar-brand me-auto" href="#"><div class="text-uppercase font-monospace">CLIENT</div></a>
        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0">
         
            <!-- Navbar buttons-->
            <div class="d-flex">
             
             
                <!-- Notifications and alerts dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block ">
                    <button class="btn btn-lg btn-icon dropdown-toggle " id="dropdownMenuNotifications" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-bell"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end  overflow-hidden" aria-labelledby="dropdownMenuNotifications">
                        <li><h6 class="dropdown-header bg-primary text-white fw-500 py-3">Alerts</h6></li>
                        <li><hr class="dropdown-divider my-0" /></li>
                        <li>
                            <a class="dropdown-item unread" href="#!">
                                <i class="material-icons leading-icon">assessment</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Your March performance report is ready to view.</div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2022 · Performance</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">check_circle</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Tracking codes successfully updated.</div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2022 · Coverage</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider " /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                <i class="material-icons leading-icon">warning</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Tracking codes have changed and require manual action.</div>
                                    <div class="dropdown-item-content-subtext">Mar 8, 2022 · Coverage</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider " /></li>
                        <li>
                            <a class="dropdown-item py-3" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- User profile dropdown-->
                <div class="dropdown ">
                    <button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user"></i></button>
                    <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
                        <li>
                            <a class="dropdown-item" href="#!">
                                <div > 
                                  <i class="fa fa-user-plus"></i>  Profile</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!">
                                
                                <div > <i class="fa fa-cog"></i>  paramètre</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!">
                            
                                <div ><i class="fa fa-question-circle"></i>  Help</div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#!">
                            
                                <div ><i class="fa fa-sign-out"></i>  Déconnexion</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>