
<nav class="nav flex-column">
    <a class=" btn btn-outline-warning" style="margin: 10px;" routerLink="/cat/:id"> <i class="fa fa-users "></i>  sociale</a>
    <a class="btn btn-outline-warning " style="margin: 10px;"  routerLink="/cat/:id">  <i class="fa fa-balance-scale" ></i>   juridique</a>
    <a class="btn btn-outline-warning" style="margin: 10px;"  routerLink="/cat/:id"><i class="fa fa-university"></i>  fiscal</a>
    <a class="btn btn-outline-warning" style="margin: 10px;"  href="#"> <i class="fa fa-plus-circle "></i>  autre</a>
   
  </nav>
