
<div class="container mb-5">
    <div class="card  mt-4" id="documents">
        <div class="text-center text-uppercase col-12 bg-light mb-2">
            <h2>Derniers articles</h2>
          
        </div>
        <div  >
    

        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2"></p>

        </div>
        <div class="row g-4" >
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of data.slice(-6)" >
<app-carte-article [item]="item" ></app-carte-article>
            </div>
        </div>
    </div>